*.a
*.sw*
build
.DS_Store
*.cmake
CMakeCache.txt
CMakeFiles
Makefile
compile_commands.json
moc_*
*.moc
.DS_Store
genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp

libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

programs/cli_wallet/cli_wallet
programs/js_operation_serializer/js_operation_serializer
programs/witness_node/witness_node

tests/app_test
tests/chain_bench
tests/chain_test
tests/intense_test
tests/performance_test

doxygen

wallet.json
witness_node_data_dir

*.wallet

programs/witness_node/object_database/*

object_database/*

*.pyc
*.pyo
libraries/chain/hardfork.d/385.hf
libraries/chain/hardfork.d/436.hf
libraries/chain/hardfork.d/445.hf
libraries/chain/hardfork.d/453.hf
libraries/chain/hardfork.d/480.hf
libraries/chain/hardfork.d/483.hf
libraries/chain/hardfork.d/533.hf
libraries/chain/hardfork.d/555.hf
libraries/chain/hardfork.d/563.hf
libraries/chain/hardfork.d/607.hf
libraries/chain/hardfork.d/613.hf
libraries/chain/hardfork.d/615.hf
libraries/chain/hardfork.d/BSIP_48_75.hf
libraries/chain/hardfork.d/BSIP_72.hf
libraries/chain/hardfork.d/BSIP_77.hf
libraries/chain/hardfork.d/BSIP_81.hf
libraries/chain/hardfork.d/BSIP_85.hf
libraries/chain/hardfork.d/BSIP_86.hf
libraries/chain/hardfork.d/core-143.hf
libraries/chain/hardfork.d/core-1468.hf
libraries/chain/hardfork.d/CORE_1270.hf
libraries/chain/hardfork.d/CORE_1465.hf
libraries/chain/hardfork.d/CORE_1479.hf
libraries/chain/hardfork.d/CORE_1573.hf
libraries/chain/hardfork.d/CORE_1604.hf
libraries/chain/hardfork.d/CORE_1669.hf
libraries/chain/hardfork.d/CORE_1692.hf
libraries/chain/hardfork.d/CORE_1774.hf
libraries/chain/hardfork.d/CORE_1780.hf
libraries/chain/hardfork.d/CORE_1800.hf
libraries/chain/hardfork.d/CORE_184.hf
libraries/chain/hardfork.d/CORE_199.hf
libraries/chain/hardfork.d/CORE_210.hf
libraries/chain/hardfork.d/CORE_2103.hf
libraries/chain/hardfork.d/CORE_214.hf
libraries/chain/hardfork.d/CORE_216.hf
libraries/chain/hardfork.d/CORE_2262.hf
libraries/chain/hardfork.d/CORE_2281.hf
libraries/chain/hardfork.d/CORE_2282.hf
libraries/chain/hardfork.d/CORE_2290.hf
libraries/chain/hardfork.d/CORE_2295.hf
libraries/chain/hardfork.d/CORE_2350.hf
libraries/chain/hardfork.d/CORE_2351.hf
libraries/chain/hardfork.d/CORE_2362.hf
libraries/chain/hardfork.d/CORE_2467.hf
libraries/chain/hardfork.d/CORE_2481.hf
libraries/chain/hardfork.d/CORE_2535.hf
libraries/chain/hardfork.d/CORE_2582.hf
libraries/chain/hardfork.d/CORE_2587.hf
libraries/chain/hardfork.d/CORE_2591.hf
libraries/chain/hardfork.d/CORE_2595.hf
libraries/chain/hardfork.d/CORE_2604.hf
libraries/chain/hardfork.d/CORE_265.hf
libraries/chain/hardfork.d/CORE_338.hf
libraries/chain/hardfork.d/CORE_342.hf
libraries/chain/hardfork.d/CORE_343.hf
libraries/chain/hardfork.d/CORE_429.hf
libraries/chain/hardfork.d/CORE_453.hf
libraries/chain/hardfork.d/CORE_460.hf
libraries/chain/hardfork.d/CORE_518.hf
libraries/chain/hardfork.d/CORE_583.hf
libraries/chain/hardfork.d/CORE_584.hf
libraries/chain/hardfork.d/CORE_604.hf
libraries/chain/hardfork.d/CORE_606.hf
libraries/chain/hardfork.d/CORE_625.hf
libraries/chain/hardfork.d/CORE_834.hf
libraries/chain/hardfork.d/CORE_868_890.hf
libraries/chain/hardfork.d/CORE_922_931.hf
libraries/chain/hardfork.d/CORE_935.hf
libraries/chain/hardfork.d/CORE_973.hf
libraries/chain/hardfork.d/CORE_BSIP64.hf
libraries/chain/hardfork.d/CORE_BSIP74.hf
libraries/chain/hardfork.d/CORE_BSIP87.hf
libraries/chain/hardfork.d/CORE_BSIP_87_74_COLLATFEE.hf
libraries/chain/hardfork.d/LIQUIDITY_POOL.hf
